@CHARSET "UTF-8";

#familyload {
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -130px;
	width: 120px;
	z-index: 1008;
	height: 120px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	overflow: hidden;
	background-image: url(loading-familytree@2x.gif);
	background-size: 120px 120px;
}

#familyload>div {
	width: 98px;
	height: 98px;
	margin: 12px;
	overflow: hidden;
	-webkit-border-radius: 50px;
	-moz-border-radius: 49px;
	border-radius: 49px;
}

#familyload>div img {
	position: relative;
	width: 98px;
	width: 98px; 
	opacity: 1;
	display:block;
}

#familytree-container {
	position: fixed;
	z-index: 1007;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
	background: #f6f6f3;
}

#familytree-container .header {
	background-color: #e6e6e4;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color: #222222;
}

#familytree-container .header {
	padding-left: 20px;
}

#familytree-container .family-switch {
	width: 57px;
	float:right;
	height: 15px;  margin-top: 17.5px;
  	margin-right: 20px;
  	cursor:pointer;
}

#familytree-container .family-switch.testo {
	background-position: -430px -120px;
}

#familytree-container .family-switch.foto {
	background-position: -430px -135px;
}

#familytree-content {
	cursor: move;
	text-align: left;
	white-space: nowrap;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#familytree-content .familyarea {
	display: block;
	height: 150px;
	border-bottom: 1px solid #aeaaa0;
}

#familytree-content .familyarea.nob {
	border: 0;
}

#familytree-content h3 {
	line-height: 25px;
	padding: 0 25px;
	text-transform: uppercase;
	letter-spacing: .7;
	font-weight: 300;
	color: #212121;
	font-size: 11px;
}

#familytree-content  #fgp {
	min-width: 300px;
	text-align: right;
}

#familytree-content div.pair img {
	position: relative;
	height: auto;
	width: 100px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity = 0);
	opacity: 0;
}

#familytree-content .half {
	height: 150px;
	min-width: 150px;
	display: inline-block;
}

#familytree-content .hb, #familytree-content .wf {
	height: 100px;
	overflow: hidden;
	width: 100px;
}

#familytree-content div.pair {
	display: inline-block;
	overflow: hidden;
	height: 125px;
	text-align: center;
	height: 150px;
}

#familytree-content div.e {
	display: inline-block;
	overflow: hidden;
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 0 25px;
	height: 100px;
}

#familytree-content div.e>div {
	width: 100px;
	height: 100px;
	background-color:#e6e6e4;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
	white-space: normal;
	color: #222222;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
}

#familytree-content #sibl, #familytree-content  #mgp {
	border-left: 1px solid #aeaaa0;
}

#familytree-content #spouse {
	border-right: 1px solid #aeaaa0;
	min-width: 225px;
	text-align: right;
}

#familytree-content strong {
	margin-right: 5px;
	margin-left: 5px; 
	position: absolute;
	font-weight: 300;
	text-align: center;
	width:90px;
	display:block;
}

#familytree-content #mainr {
	position: relative;
	top: -25px;
}

#familytree-content #parents {
	padding-left: 150px;
}
#familytree-content

  

.wf

 

*
,
#familytree-content

  

.hb

 

*

 

)
{
display


:

 

none


;
}