@CHARSET "UTF-8";

#familyload {
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -130px;
	width: 120px;
	z-index: 1008;
	height: 120px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	overflow: hidden;
	background-image: url(loading-familytree@2x.gif);
	background-size: 120px 120px;
}

#familyload>div {
	width: 98px;
	height: 98px;
	margin: 12px;
	overflow: hidden;
	-webkit-border-radius: 50px;
	-moz-border-radius: 49px;
	border-radius: 49px;
}

#familyload>div img {
	position: relative;
	width: 98px;
	width: 98px;
}

#familytree-container {
	position: fixed;
	z-index: 1007;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
	background: #f6f6f3;
}

#familytree-container .header {
	background-color: #e6e6e4;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color: #222222;
}

#familytree-container .header {
	padding-left: 20px;
}

#familytree-content {
	text-align: left;
	white-space: nowrap;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#familytree-content .familyarea {
	display: block;
	height: 150px;
	border-bottom: 1px solid #aeaaa0;
}

#familytree-content .familyarea.nob {
	border: 0;
}

#familytree-content h3 {
	line-height: 25px;
	padding: 0 25px;
	text-transform: uppercase;
	letter-spacing: .7;
	font-weight: 300;
	color: #212121;
	font-size: 11px;
}

#familytree-content div.pair img {
	position: relative;
	height: auto;
	width: 100px;
}

#familytree-content .half {
	height: 150px;
	min-width: 150px;
	display: inline-block;
}

#familytree-content .hb, #familytree-content .wf {
	height: 100px;
	overflow: hidden;
	width: 100px;
}

#familytree-content div.pair {
	display: inline-block;
	overflow: hidden;
	height: 125px;
	text-align: center;
	height: 150px;
}

#familytree-content div.e {
	display: inline-block;
	overflow: hidden;
	width: 100px;
	height: 100px;
	text-align: center;
	margin: 0 25px;
	height: 100px;
}

#familytree-content div.e>div {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
	background-color: #e6e6e4;
	white-space: normal;
	color: #6d6d6d;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
}

#familytree-content #sibl, #familytree-content  #mgp {
	border-left: 1px solid #aeaaa0;
}

#familytree-content #spouse {
	border-right: 1px solid #aeaaa0;
}

#familytree-content strong {
	margin-right: 5px;
	margin-left: 5px;
	overflow: hidden;
	position: relative;
	top: 50%;
	margin-top: -50px;
	text-align: center;
}

#mainr {
	position: relative;
	top: -25px;
}

.wf *, .hb * ) {
	display: none;
}